<h1>Voto por cartas</h1>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardarSesion(f)" #f="ngForm">
            <div class="form-group">
                <input required type="text" class="form-control" placeholder="Ingrese nombre de Sala" [(ngModel)]="sesion.nombre" name="nombre">
            </div>
            <div class="form-group">
                <input required type="text" class="form-control" placeholder="Ingrese nombre del administrador de Sala" [(ngModel)]="sesion.admin" name="admin">
            </div>
            <div class="form-group">
                <button class="btn btn-primary w-100" type="submit">
                    <span *ngIf="loading.sesion" class="material-icons">refresh</span>
                    <ng-container *ngIf="!loading.sesion">
                        <span class="material-icons mr-2">save</span>
                        <span>Crear e Ingresar</span>
                    </ng-container>
                </button>
            </div>
        </form>
    </div>
</div>
<p>
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <span class="material-icons">rotate_right</span>
    </button>
</p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
        <table class="table table-light text-secondary">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sala</th>
                <th scope="col">Administrador</th>
                <th scope="col" class="text-center">Acceder</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sesion of sesiones; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ sesion.nombre }}</td>
                <td>{{ sesion.admin }}</td>
                <td class="text-center"><button [routerLink]="['/sesion',sesion.id]" class="btn btn-link material-icons">link</button></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
