<h1>CardVoting</h1>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="guardarSesion(f)" #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre de Sala" [(ngModel)]="sesion.nombre" name="nombre">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre del administrador" [(ngModel)]="sesion.admin" name="admin">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary w-100" type="submit">
                    <i class="fa fa-hands-helping mr-2"></i>Crear e Ingresar
                </button>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row animated fadeIn faster">
    <table class="table">
        <caption>Lista de sesiones</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sala</th>
            <th scope="col">Administrador</th>
            <th scope="col">Identificador</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sesion of sesiones; index as i">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ sesion.nombre }}</td>
            <td>{{ sesion.admin }}</td>
            <td>{{ sesion.id }}</td>
          </tr>
        </tbody>
    </table>
</div>
