<div class="container" *ngIf="sesion.nombre">
    <h2>{{ sesion?.nombre }}</h2>
    <h3>{{ participante?.nombre }} - {{ sesion.pregunta }}</h3>
    <hr>
    <div class="row animated fadeIn faster">
        <div class="col text-secondary">
            Tu voto es: {{ participante.voto }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button *ngFor="let opc of opciones" [ngClass]="opc.valor==participante.voto ? 'btn-success' : 'btn-outline-success'" class="opcion btn m-1" (click)="actualizarVoto(opc.valor)">{{ opc.valor }}</button>
        </div>
    </div>
</div>