/* You can add global styles to this file, and also import other style files */
.opcion{
    width: 100px;
    height: 120px;
    font-size: 2rem;
}

.material-icons{
    line-height: 1rem;
    vertical-align: middle;
}

.c-pointer{
    cursor: pointer;
}